@font-face {
    font-family: "IBM Plex Mono";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/IBMPlexMono/ibmplexmono-regular.woff2");
}

@font-face {
    font-family: "IBM Plex Mono";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/IBMPlexMono/ibmplexmono-italic.woff2");
}

@font-face {
    font-family: "IBM Plex Mono";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/IBMPlexMono/ibmplexmono-bold.woff2");
}

@font-face {
    font-family: "IBM Plex Mono";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/IBMPlexMono/ibmplexmono-bolditalic.woff2");
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Regular.woff2");
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Italic.woff2");
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Bold.woff2");
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-BoldItalic.woff2");
}